# Godot
.import/
export.cfg
export_presets.cfg

# Mono
.mono/

# System/tools
.vs/
.directory
*~

# Prime Framework
.tools/Fix CSProj/bin
.tools/Fix CSProj/obj
.tools/Setup/bin
.tools/Setup/obj